<a href="https://colab.research.google.com/github/Jamshidbee/learning_data_sciense-/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from pandas import Series

In [ ]:
obj1 = Series([1,2,3,4])

In [ ]:
obj1

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
obj2=([2,5,3,2.4])

In [ ]:
obj1*obj2

0     2.0
1    10.0
2     9.0
3     9.6
dtype: float64

In [ ]:
obj3=Series([1,2,3,4,5.5],index=["a","b","c","d","e"])

In [ ]:
obj3["e"]

5.5

In [ ]:
obj3[['a','e']]

a    1.0
e    5.5
dtype: float64

In [ ]:
np.exp(obj3)

a      2.718282
b      7.389056
c     20.085537
d     54.598150
e    244.691932
dtype: float64

In [ ]:
index=['mashina2','mashina','mashina3']

In [ ]:
dict1={"mashina":1222,"mashina2":3444}

In [ ]:
f=Series(dict1,index=index)

In [ ]:
f

mashina2    3444.0
mashina     1222.0
mashina3       NaN
dtype: float64

In [ ]:
'mashina' in f

True

In [ ]:
'mashina3' in dict1

False

In [ ]:
obj1.notnull()

0    True
1    True
2    True
3    True
dtype: bool

In [ ]:
obj1

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
obj1[12]=1211

In [ ]:
obj1

0        1
1        2
2        3
3        4
12    1211
dtype: int64

In [ ]:
obj2=([22,22,22,22,22,22,22])

In [ ]:
obj1.index.name = "TT1"

In [ ]:
obj1

TT1
0        1
1        2
2        3
3        4
12    1211
dtype: int64

In [ ]:
obj1.name

In [ ]:
obj3.values

array([1. , 2. , 3. , 4. , 5.5])

In [ ]:
obj3.dtype

dtype('float64')

In [ ]:
obj3.shape

(5,)

In [ ]:
obj1[12]

1211

In [ ]:
import pandas as pd

In [ ]:
data = {
    'ism':["Jamshid","Alijon","Asilbek","Sherzod"],
    "mablag'":[14000, 15500,12000,22000],
    "vaqt":["22.01.23","22.01.23","20.01.2022","unknown"]
}

In [ ]:
index1=[1,2,3,4]

In [ ]:
df=pd.DataFrame(data,index=[1,2,3,4],columns=['ism','vaqt',"mablag'",'joy','kim_tomonidan'])

In [ ]:
df.head()

       ism        vaqt  mablag'  joy kim_tomonidan
1  Jamshid    22.01.23    14000  NaN           NaN
2   Alijon    22.01.23    15500  NaN           NaN
3  Asilbek  20.01.2022    12000  NaN           NaN
4  Sherzod     unknown    22000  NaN           NaN

In [ ]:
df.head(2)

       ism      vaqt  mablag'  joy kim_tomonidan
1  Jamshid  22.01.23    14000  NaN           NaN
2   Alijon  22.01.23    15500  NaN           NaN

In [ ]:
df.shape

(4, 5)

In [ ]:
vaqt = df['vaqt']

In [ ]:
vaqt

1      22.01.23
2      22.01.23
3    20.01.2022
4       unknown
Name: vaqt, dtype: object

In [ ]:
vaqt

1      22.01.23
2      22.01.23
3    20.01.2022
4       unknown
Name: vaqt, dtype: object

In [ ]:
type(vaqt)

pandas.core.series.Series

In [ ]:
df.joy="unknown yet"

In [ ]:
df

       ism        vaqt  mablag'          joy kim_tomonidan
1  Jamshid    22.01.23    14000  unknown yet           NaN
2   Alijon    22.01.23    15500  unknown yet           NaN
3  Asilbek  20.01.2022    12000  unknown yet           NaN
4  Sherzod     unknown    22000  unknown yet           NaN

In [ ]:
df.joy[1]="qamashi"

<ipython-input-154-8fe4ad07d32a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.joy[1]="qamashi"

In [ ]:
df

       ism        vaqt  mablag'          joy kim_tomonidan
1  Jamshid    22.01.23    14000      qamashi           NaN
2   Alijon    22.01.23    15500  unknown yet           NaN
3  Asilbek  20.01.2022    12000  unknown yet           NaN
4  Sherzod     unknown    22000  unknown yet           NaN

In [ ]:
df.joy[1:]='qarshi'

<ipython-input-156-3d1bf3846482>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.joy[1:]='qarshi'

In [ ]:
df

       ism        vaqt  mablag'      joy kim_tomonidan
1  Jamshid    22.01.23    14000  qamashi           NaN
2   Alijon    22.01.23    15500   qarshi           NaN
3  Asilbek  20.01.2022    12000   qarshi           NaN
4  Sherzod     unknown    22000   qarshi           NaN

In [ ]:
appn = pd.Series(["shaxs","shaxs","virt","qarz"], index= [2,3,1,4])

In [ ]:
df.kim_tomonidan = appn

In [ ]:
df

       ism        vaqt  mablag'      joy kim_tomonidan
1  Jamshid    22.01.23    14000  qamashi          virt
2   Alijon    22.01.23    15500   qarshi         shaxs
3  Asilbek  20.01.2022    12000   qarshi         shaxs
4  Sherzod     unknown    22000   qarshi          qarz

In [ ]:
df["+"] = df.kim_tomonidan!='qarz'

In [ ]:
df

       ism        vaqt  mablag'      joy kim_tomonidan      +
1  Jamshid    22.01.23    14000  qamashi          virt   True
2   Alijon    22.01.23    15500   qarshi         shaxs   True
3  Asilbek  20.01.2022    12000   qarshi         shaxs   True
4  Sherzod     unknown    22000   qarshi          qarz  False

In [ ]:
df["to_attend"] = ["YES","YES","YES","YES"]

In [ ]:
df

       ism        vaqt  mablag'      joy kim_tomonidan      + to_attend
1  Jamshid    22.01.23    14000  qamashi          virt   True       YES
2   Alijon    22.01.23    15500   qarshi         shaxs   True       YES
3  Asilbek  20.01.2022    12000   qarshi         shaxs   True       YES
4  Sherzod     unknown    22000   qarshi          qarz  False       YES

In [ ]:
df.index.name="N%"

In [ ]:
df

        ism        vaqt  mablag'      joy kim_tomonidan      + to_attend
N%
1   Jamshid    22.01.23    14000  qamashi          virt   True       YES
2    Alijon    22.01.23    15500   qarshi         shaxs   True       YES
3   Asilbek  20.01.2022    12000   qarshi         shaxs   True       YES
4   Sherzod     unknown    22000   qarshi          qarz  False       YES

In [ ]:
df.T

N%                    1         2           3        4
ism             Jamshid    Alijon     Asilbek  Sherzod
vaqt           22.01.23  22.01.23  20.01.2022  unknown
mablag'           14000     15500       12000    22000
joy             qamashi    qarshi      qarshi   qarshi
kim_tomonidan      virt     shaxs       shaxs     qarz
+                  True      True        True    False
to_attend           YES       YES         YES      YES

In [ ]:
df.T

N%                    1         2           3        4
ism             Jamshid    Alijon     Asilbek  Sherzod
vaqt           22.01.23  22.01.23  20.01.2022  unknown
mablag'           14000     15500       12000    22000
joy             qamashi    qarshi      qarshi   qarshi
kim_tomonidan      virt     shaxs       shaxs     qarz
+                  True      True        True    False
to_attend           YES       YES         YES      YES

In [ ]:
df.T.head

<bound method NDFrame.head of N%                    1         2           3        4
ism             Jamshid    Alijon     Asilbek  Sherzod
vaqt           22.01.23  22.01.23  20.01.2022  unknown
mablag'           14000     15500       12000    22000
joy             qamashi    qarshi      qarshi   qarshi
kim_tomonidan      virt     shaxs       shaxs     qarz
+                  True      True        True    False
to_attend           YES       YES         YES      YES>

In [ ]:
df.values

array([['Jamshid', '22.01.23', 14000, 'qamashi', 'virt', True, 'YES'],
       ['Alijon', '22.01.23', 15500, 'qarshi', 'shaxs', True, 'YES'],
       ['Asilbek', '20.01.2022', 12000, 'qarshi', 'shaxs', True, 'YES'],
       ['Sherzod', 'unknown', 22000, 'qarshi', 'qarz', False, 'YES']],
      dtype=object)

In [ ]:
df.head

<bound method NDFrame.head of         ism        vaqt  mablag'      joy kim_tomonidan      + to_attend
N%
1   Jamshid    22.01.23    14000  qamashi          virt   True       YES
2    Alijon    22.01.23    15500   qarshi         shaxs   True       YES
3   Asilbek  20.01.2022    12000   qarshi         shaxs   True       YES
4   Sherzod     unknown    22000   qarshi          qarz  False       YES>

In [ ]:
df.columns

Index(['ism', 'vaqt', 'mablag'', 'joy', 'kim_tomonidan', '+', 'to_attend'], dtype='object')

In [ ]:
df.index

Int64Index([1, 2, 3, 4], dtype='int64', name='N%')

In [ ]:
  g_index=df.columns

In [ ]:
g_index

Index(['ism', 'vaqt', 'mablag'', 'joy', 'kim_tomonidan', '+', 'to_attend'], dtype='object')

In [ ]:
g_index[3]

'joy'

In [ ]:
  'ism' in g_index

True

In [ ]:
'olllooo' in g_index

False

In [ ]:
import pandas as pd

In [ ]:
arr = {
    "day 1":{'sat':1200,'ielts':6,'SEFR':"B2",'Math':11},
    "day 2":{'sat':1260,'ielts':5.5,'SEFR':"C1",'Math':11},
    "day 3":{'sat':1430,'ielts':8,'SEFR':"C2",'Math':10},

}

In [ ]:
list1 = pd.DataFrame(arr)

In [ ]:
list1

   day 1  day 2  day 3
1    NaN    NaN    NaN
2    NaN    NaN    NaN
3    NaN    NaN    NaN

In [ ]:
arr = {
    "day 1":{'sat':1200,'ielts':6,'SEFR':"B2",'Math':11},
    "day 2":{'sat':1260,'ielts':5.5,'SEFR':"C1",'Math':11},
    "day 3":{'sat':1430,'ielts':8,'SEFR':"C2",'Math':10},

}

In [ ]:
list1=pd.DataFrame(arr, index=[1,2,3])

In [ ]:
import pandas as pd

In [ ]:
list1=pd.Series([1,2,3])

In [ ]:
list1.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
import pandas as pd

In [ ]:
data = {
    "names":["Jamshid","Farruh",'Mahmud','Asilbek','Sarvar'],
    'money':[12000,13000,12000,4000,13500],
    'date':['22.02.23','23.03.23','01.03.23',"08.03.23",'2.03.23'],
    "location":['kamashi','nishon','karshi','kamashi','karshi d']

}

In [ ]:
index1=[1,2,3,4,5]

In [ ]:
df1 = pd.DataFrame(data)

In [ ]:
df1

     names  money      date  location
0  Jamshid  12000  22.02.23   kamashi
1   Farruh  13000  23.03.23    nishon
2   Mahmud  12000  01.03.23    karshi
3  Asilbek   4000  08.03.23   kamashi
4   Sarvar  13500   2.03.23  karshi d

In [ ]:
df1.index=[10,20,30,40,50]

In [ ]:
df1

      names  money      date  location
10  Jamshid  12000  22.02.23   kamashi
20   Farruh  13000  23.03.23    nishon
30   Mahmud  12000  01.03.23    karshi
40  Asilbek   4000  08.03.23   kamashi
50   Sarvar  13500   2.03.23  karshi d

In [ ]:
ind=[20,40,10,30,50]

In [ ]:
df1.reindex([10,30])

      names  money      date location
10  Jamshid  12000  22.02.23  kamashi
30   Mahmud  12000  01.03.23   karshi

In [ ]:
import pandas as pd

In [ ]:
data = {
    'names':["jamshid",'sarvar','odil'],
    "f_cars":['GTR',"BMW",'Malibu'],
    'f_jobs':['Programmer','Trader','Economist']
}

In [ ]:
dataF = pd.DataFrame(data)

In [ ]:
dataF

     names  f_cars      f_jobs
0  jamshid     GTR  Programmer
1   sarvar     BMW      Trader
2     odil  Malibu   Economist

In [ ]:
dataF.drop(0)

    names  f_cars     f_jobs
1  sarvar     BMW     Trader
2    odil  Malibu  Economist

In [ ]:
dataF

     names  f_cars      f_jobs
0  jamshid     GTR  Programmer
1   sarvar     BMW      Trader
2     odil  Malibu   Economist

In [ ]:
dataF.drop("f_jobs", axis='columns')

     names  f_cars
0  jamshid     GTR
1   sarvar     BMW
2     odil  Malibu

In [ ]:
dataF

     names  f_cars      f_jobs
0  jamshid     GTR  Programmer
1   sarvar     BMW      Trader
2     odil  Malibu   Economist

In [ ]:
data1 =dataF[["f_cars"]]

In [ ]:
data1 =dataF["f_cars"]

In [ ]:
type(data1)

pandas.core.series.Series

In [ ]:
data = dataF['f_cars']

In [ ]:
data

0       GTR
1       BMW
2    Malibu
Name: f_cars, dtype: object

In [ ]:
import pandas as pd

In [ ]:
uz = {19:1, 20:2.5, 21:1.8,22:0.6 }

In [ ]:
kz = {19:1.2, 20:2, 21:1.8,22:0.3 }
kyr = {19:0.2, 20:0.5, 21:1.8,22:0.6 }

In [ ]:
df=pd.DataFrame(
    {
        "uzbekistan":uz,
        "kazakistan":kz,
        'kyrgzistan':kyr,
    }
)

In [ ]:
df

    uzbekistan  kazakistan  kyrgzistan
19         1.0         1.2         0.2
20         2.5         2.0         0.5
21         1.8         1.8         1.8
22         0.6         0.3         0.6

In [ ]:
df["uzbekistan"]

19    1.0
20    2.5
21    1.8
22    0.6
Name: uzbekistan, dtype: float64

In [ ]:
df['uzbekistan'].to_numpy()

array([1. , 2.5, 1.8, 0.6])

array([[1. ],
       [2.5],
       [1.8],
       [0.6]])

In [ ]:
df[1:2]

    uzbekistan  kazakistan  kyrgzistan
20         2.5         2.0         0.5

In [ ]:
df[2:]

    uzbekistan  kazakistan  kyrgzistan
21         1.8         1.8         1.8
22         0.6         0.3         0.6

In [ ]:
df>1.3

    uzbekistan  kazakistan  kyrgzistan
19       False       False       False
20        True        True       False
21        True        True        True
22       False       False       False

In [ ]:
df.index>20

array([False, False,  True,  True])

In [ ]:
df['uzbekistan'][df["uzbekistan"]>1]

20    2.5
21    1.8
Name: uzbekistan, dtype: float64

In [ ]:
df2=df.transpose(copy=True)

In [ ]:
df2

             19   20   21   22
uzbekistan  1.0  2.5  1.8  0.6
kazakistan  1.2  2.0  1.8  0.3
kyrgzistan  0.2  0.5  1.8  0.6

In [ ]:
df

    uzbekistan  kazakistan  kyrgzistan
19         1.0         1.2         0.2
20         2.5         2.0         0.5
21         1.8         1.8         1.8
22         0.6         0.3         0.6

In [ ]:
df.loc[19]

uzbekistan    1.0
kazakistan    1.2
kyrgzistan    0.2
Name: 19, dtype: float64

In [ ]:
df.iat[0,1]

1.2

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def1 = pd.Series([1,2,3,4], index=('b','a','c','d'))

In [ ]:
def1

b    1
a    2
c    3
d    4
dtype: int64

In [ ]:
# ascending - oxiridan tartiblash

In [ ]:
def1.sort_values()

b    1
a    2
c    3
d    4
dtype: int64

In [ ]:
def1.sort_index()

a    2
b    1
c    3
d    4
dtype: int64

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
df.head(10)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5700,dodge,mpv,2018,clean vehicle,45561,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
6,7300,chevrolet,pk,2010,clean vehicle,149050,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left
7,13350,gmc,door,2017,clean vehicle,23525,gray,1gks2gkc3hr326762,167692494,california,usa,20 hours left
8,14600,chevrolet,malibu,2018,clean vehicle,9371,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left
9,5250,ford,mpv,2017,clean vehicle,63418,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left

In [ ]:
df.sort_values(by="year", ascending=False)

AttributeError: ignored

In [ ]:
df.ndim

2

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)

In [ ]:
df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [ ]:
df['rank'] = df["price"].rank()

In [ ]:
df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,381.0
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left,156.0
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left,326.5
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left,1832.5
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left,2005.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left,477.5
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left,574.5
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left,574.5
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left,574.5
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left,574.5

In [ ]:
df.sort_values(by="rank", ascending=False)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
502,84900,mercedes-benz,sl-class,2017,clean vehicle,25302,silver,wddjk7ea3hf044968,167607883,florida,usa,2 days left,2499.0
1340,74000,ford,drw,2019,clean vehicle,10536,no_color,1ft8w4dt6ked32656,167780682,illinois,usa,2 days left,2498.0
1336,70000,ford,drw,2019,clean vehicle,9643,no_color,1ft8w3dt3kee48276,167780680,illinois,usa,2 days left,2497.0
277,67000,dodge,challenger,2019,clean vehicle,10944,blue,2c3cdzl97kh518237,167759490,ohio,usa,21 hours left,2496.0
1215,65500,ford,srw,2019,clean vehicle,6500,black,1ft7w2bt0kec44818,167718954,indiana,usa,21 hours left,2495.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,0,dodge,van,2008,salvage insurance,177948,orange,2d8hn44h88r669549,167756157,utah,usa,2 days left,22.0
391,0,cadillac,coupe,2000,salvage insurance,105169,white,1g6el12y9yu148063,167651218,virginia,usa,9 days left,22.0
285,0,ford,door,2000,salvage insurance,124969,black,1fafp34p7yw270338,167251902,oklahoma,usa,17 hours left,22.0
290,0,mazda,door,2009,salvage insurance,117541,gray,jm3er293590215768,167543177,indiana,usa,16 hours left,22.0
354,0,ford,pickup,2009,salvage insurance,180364,blue,1ftyr10d19pa60391,167360535,tennessee,usa,2 days left,22.0

In [ ]:
df1 = df.sort_values(by='rank', ascending=True)

In [ ]:
DataFrame_sort_by_price = df1

In [ ]:
n=map(int,input().split())
DataFrame_sort_by_price["price"][n]

4

4    27700
Name: price, dtype: int64

In [ ]:
df_uzb = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df.columns = ['maydoni','aholisi']
df_uzb

                               Maydoni (kv.km)    Aholisi
Boʻlinishi
Andijon viloyati                        4200.0  1899000.0
Buxoro viloyati                        39400.0  1384700.0
Fargʻona viloyati                       6800.0  2597000.0
Jizzax viloyati                        20500.0   910500.0
Xorazm viloyati                         6300.0  1200000.0
Namangan viloyati                       7900.0  1862000.0
Navoiy viloyati                       110800.0   767500.0
Qashqadaryo viloyati                   28400.0  2029000.0
Qoraqalpogʻiston Respublikasi         160000.0  1200000.0
Samarqand viloyati                     16400.0  2322000.0
Sirdaryo viloyati                       5100.0   648100.0
Surxondaryo viloyati                   20800.0  1676000.0
Toshkent viloyati                      15300.0  4450000.0

In [ ]:
df_uzb.sum()

Maydoni (kv.km)      441900.0
Aholisi            22945800.0
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_uzb = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df_uzb.columns = ['maydoni','aholisi']

In [ ]:
df_uzb

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)

In [ ]:
df.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [ ]:
df['year'].corr(df['mileage'])

-0.5946860080350211

In [ ]:
# corr/corrwith - o'xshashlik

In [ ]:
df.corr()

            price      year   mileage       lot
price    1.000000  0.418274 -0.400838  0.159369
year     0.418274  1.000000 -0.594686  0.164582
mileage -0.400838 -0.594686  1.000000 -0.130475
lot      0.159369  0.164582 -0.130475  1.000000

In [ ]:
df.corrwith(df['price'])

price      1.000000
year       0.418274
mileage   -0.400838
lot        0.159369
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
DataFrame_1 = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)

In [ ]:
DataFrame_1.head(11)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5700,dodge,mpv,2018,clean vehicle,45561,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
6,7300,chevrolet,pk,2010,clean vehicle,149050,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left
7,13350,gmc,door,2017,clean vehicle,23525,gray,1gks2gkc3hr326762,167692494,california,usa,20 hours left
8,14600,chevrolet,malibu,2018,clean vehicle,9371,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left
9,5250,ford,mpv,2017,clean vehicle,63418,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left
10,10400,dodge,coupe,2009,clean vehicle,107856,orange,2b3lj54t49h509675,167753874,georgia,usa,22 hours left

In [ ]:
Data_frame_sort = DataFrame_1["price"].unique()

In [ ]:
Data_frame_sort.sort()

In [ ]:
Data_frame_sort

array([    0,    25,    50,    75,   100,   125,   175,   200,   225,
         250,   350,   375,   450,   475,   500,   600,   650,   720,
         725,   750,   800,   825,   900,   925,   950,  1000,  1025,
        1150,  1200,  1280,  1300,  1350,  1400,  1420,  1500,  1700,
        1725,  1750,  1800,  1825,  1850,  1880,  1900,  1950,  2000,
        2100,  2200,  2220,  2300,  2320,  2425,  2500,  2580,  2630,
        2700,  2725,  2800,  2825,  2899,  2900,  2925,  2960,  3000,
        3020,  3040,  3140,  3160,  3200,  3210,  3250,  3300,  3330,
        3390,  3440,  3450,  3460,  3500,  3540,  3550,  3570,  3600,
        3650,  3700,  3740,  3760,  3790,  3800,  3810,  3820,  3830,
        3870,  3900,  3920,  3960,  4000,  4010,  4040,  4050,  4080,
        4100,  4130,  4140,  4150,  4160,  4190,  4200,  4240,  4260,
        4290,  4310,  4320,  4340,  4400,  4410,  4430,  4450,  4480,
        4500,  4530,  4600,  4610,  4640,  4650,  4690,  4700,  4730,
        4750,  4800,  4880,  4900,  4950,  5000,  5090,  5100,  5200,
        5210,  5250,  5300,  5330,  5350,  5380,  5420,  5430,  5470,
        5475,  5500,  5520,  5580,  5600,  5630,  5690,  5700,  5790,
        5800,  5900,  5990,  5998,  6000,  6060,  6100,  6140,  6160,
        6180,  6200,  6240,  6270,  6300,  6330,  6400,  6440,  6470,
        6490,  6500,  6530,  6600,  6650,  6680,  6700,  6760,  6800,
        6810,  6830,  6900,  6930,  6940,  6980,  6998,  7000,  7040,
        7070,  7100,  7200,  7210,  7300,  7320,  7340,  7350,  7400,
        7410,  7420,  7500,  7560,  7570,  7600,  7700,  7760,  7770,
        7800,  7805,  7900,  7998,  8000,  8020,  8160,  8200,  8300,
        8305,  8350,  8400,  8430,  8495,  8500,  8530,  8600,  8610,
        8700,  8750,  8800,  8850,  8900,  9000,  9100,  9110,  9190,
        9200,  9210,  9270,  9280,  9300,  9400,  9500,  9600,  9700,
        9705,  9800,  9900, 10000, 10050, 10100, 10120, 10200, 10295,
       10300, 10330, 10400, 10440, 10450, 10480, 10500, 10600, 10630,
       10700, 10740, 10780, 10800, 10840, 10850, 10900, 10910, 10940,
       10950, 10999, 11000, 11030, 11050, 11100, 11200, 11300, 11380,
       11390, 11400, 11450, 11500, 11590, 11600, 11621, 11700, 11760,
       11800, 11900, 11975, 12000, 12100, 12200, 12300, 12400, 12500,
       12520, 12560, 12600, 12700, 12710, 12750, 12780, 12784, 12800,
       12900, 12920, 12990, 12995, 13000, 13080, 13100, 13200, 13270,
       13300, 13350, 13388, 13400, 13487, 13490, 13500, 13600, 13700,
       13750, 13799, 13800, 13900, 13942, 13995, 14000, 14100, 14200,
       14247, 14295, 14300, 14400, 14488, 14495, 14500, 14600, 14700,
       14750, 14800, 14810, 14900, 15000, 15010, 15050, 15100, 15110,
       15200, 15268, 15290, 15300, 15322, 15400, 15495, 15500, 15600,
       15700, 15800, 15810, 15840, 15900, 15995, 16000, 16080, 16100,
       16190, 16200, 16300, 16400, 16488, 16500, 16593, 16600, 16700,
       16800, 16888, 16900, 16995, 16999, 17000, 17100, 17150, 17200,
       17300, 17347, 17400, 17500, 17589, 17600, 17700, 17750, 17800,
       17899, 17900, 17999, 18000, 18003, 18100, 18111, 18200, 18288,
       18299, 18300, 18400, 18402, 18497, 18500, 18511, 18600, 18700,
       18707, 18712, 18799, 18800, 18900, 19000, 19002, 19100, 19200,
       19300, 19400, 19405, 19440, 19498, 19500, 19600, 19700, 19800,
       19888, 19900, 19925, 19990, 19995, 20000, 20100, 20105, 20159,
       20200, 20227, 20300, 20400, 20500, 20600, 20700, 20800, 20802,
       20900, 20950, 20995, 20999, 21000, 21003, 21100, 21200, 21232,
       21289, 21400, 21500, 21600, 21687, 21700, 21800, 21822, 21900,
       21995, 22000, 22100, 22200, 22300, 22400, 22499, 22500, 22600,
       22700, 22800, 22809, 22900, 23000, 23100, 23200, 23211, 23300,
       23400, 23402, 23495, 23500, 23505, 23600, 23605, 23700, 23702,
       23800, 23900, 23911, 23985, 23995, 23999, 24000, 24002, 24005,
       24100, 24190, 24200, 24205, 24300, 24400, 24500, 24502, 24503,
       24549, 24600, 24700, 24800, 24802, 24811, 24857, 24900, 24970,
       25000, 25001, 25100, 25200, 25201, 25250, 25300, 25400, 25500,
       25502, 25503, 25511, 25600, 25700, 25800, 25811, 25888, 25900,
       25995, 25998, 25999, 26000, 26012, 26100, 26200, 26211, 26300,
       26311, 26400, 26414, 26500, 26502, 26511, 26550, 26602, 26700,
       26800, 26900, 26902, 26985, 27000, 27002, 27003, 27100, 27102,
       27111, 27200, 27202, 27300, 27302, 27305, 27402, 27411, 27500,
       27502, 27511, 27600, 27700, 27702, 27705, 27800, 27900, 27990,
       27995, 27999, 28000, 28100, 28200, 28214, 28300, 28400, 28402,
       28500, 28600, 28700, 28714, 28800, 28900, 28990, 28999, 29000,
       29100, 29300, 29314, 29400, 29500, 29502, 29590, 29600, 29700,
       29795, 29800, 29809, 29900, 29988, 30000, 30100, 30200, 30300,
       30500, 30600, 30700, 30800, 30851, 30900, 30977, 30995, 30999,
       31000, 31002, 31003, 31009, 31100, 31200, 31500, 31600, 31700,
       31790, 31800, 31802, 31831, 31900, 32000, 32001, 32012, 32100,
       32200, 32400, 32500, 32700, 32800, 32999, 33000, 33001, 33100,
       33200, 33300, 33400, 33500, 33700, 33800, 33995, 33999, 34000,
       34002, 34100, 34300, 34400, 34500, 34700, 34800, 34977, 34995,
       35000, 35100, 35200, 35300, 35400, 35500, 35700, 35999, 36000,
       36200, 36300, 36400, 36500, 36600, 36800, 36900, 37000, 37100,
       37200, 37500, 37600, 37700, 38000, 38100, 38200, 38500, 38600,
       38700, 38800, 39000, 39200, 39500, 39700, 39800, 39950, 40000,
       40200, 40400, 40514, 40600, 40900, 41000, 41100, 41200, 41500,
       42000, 42300, 42500, 42700, 42800, 43009, 43400, 43402, 43500,
       43600, 43900, 44000, 44500, 45000, 45500, 45600, 45800, 46000,
       46200, 46300, 46500, 46700, 46800, 46900, 46999, 47000, 47300,
       47400, 47500, 48000, 48400, 48500, 49000, 49500, 49900, 50000,
       50200, 50412, 50500, 51000, 51502, 52000, 53000, 53500, 54000,
       54500, 54680, 54900, 55000, 55600, 56000, 56200, 56500, 56700,
       57700, 58500, 59900, 59975, 60000, 60200, 61200, 62000, 63000,
       63200, 65200, 65500, 67000, 70000, 74000, 84900])

In [ ]:
len(Data_frame_sort)

790

In [ ]:
len(DataFrame_1)

2499

In [ ]:
DataFrame_1["year"].value_counts()

2019    892
2018    395
2017    377
2016    203
2015    196
2014    104
2013     86
2012     72
2020     48
2011     23
2008     18
2010     13
2009     11
2003      9
2006      8
2004      6
2007      6
2005      6
2001      5
1998      4
2000      4
2002      2
1994      2
1997      2
1996      2
1973      1
1999      1
1984      1
1995      1
1993      1
Name: year, dtype: int64

In [ ]:
list1 = [2019,2020]
filter = DataFrame_1['year'].isin(list1)
filter

0       False
1       False
2       False
3       False
4       False
        ...
2494     True
2495    False
2496    False
2497    False
2498    False
Name: year, Length: 2499, dtype: bool

In [ ]:
DataFrame_1 = DataFrame_1.sort_values(by='price',ascending = True)

In [ ]:
list_l = []
filtered = DataFrame_1["price"]<100

In [ ]:
t = DataFrame_1[filtered]

In [ ]:
t

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
410,0,chevrolet,door,1995,salvage insurance,274706,green,2gcec19h8s1195266,167425634,arizona,usa,2 days left
330,0,ford,door,1996,salvage insurance,296860,green,1falp62w5th144314,167359712,california,usa,19 hours left
331,0,ford,door,2006,salvage insurance,203158,red,1fmzk04136ga07119,167610991,illinois,usa,17 hours left
339,0,ford,door,2002,salvage insurance,214800,black,3fafp37372r151014,167360232,south carolina,usa,2 days left
496,0,ford,pickup,1996,salvage insurance,252588,red,1ftef15n0tlc14455,167357804,oklahoma,usa,17 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
518,50,chevrolet,door,2008,salvage insurance,172102,blue,1g1al58f787159241,167650632,texas,usa,17 hours left
301,50,chevrolet,door,2008,salvage insurance,172102,blue,1g1al58f787159241,167650632,texas,usa,18 hours left
534,75,ford,door,2007,salvage insurance,154989,blue,3fahp06z07r118828,167357820,oklahoma,usa,17 hours left
447,75,ford,pickup,2001,salvage insurance,295780,gold,1ftrw08l61kc05834,167357592,arkansas,usa,17 hours left
482,75,ford,door,2014,salvage insurance,116535,silver,1fadp3k26el249167,167357800,oklahoma,usa,17 hours left

In [ ]:
# (DataFrame_1.DataFrame_1["year"]>2000) & (DataFrame_1.DataFrame_1["price"]<30000)
df =  DataFrame_1[(DataFrame_1.year>2000) & (DataFrame_1.price <3000)]

In [ ]:
df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
331,0,ford,door,2006,salvage insurance,203158,red,1fmzk04136ga07119,167610991,illinois,usa,17 hours left
339,0,ford,door,2002,salvage insurance,214800,black,3fafp37372r151014,167360232,south carolina,usa,2 days left
344,0,chevrolet,door,2010,salvage insurance,137422,red,2cnflnew5a6355858,167650683,colorado,usa,18 hours left
347,0,gmc,door,2004,salvage insurance,235348,gold,1gket16s646227597,167360322,south carolina,usa,2 days left
349,0,heartland,sundance,2009,clean vehicle,1,white,5sfgf29269e031344,167266321,pennsylvania,usa,7 days left
...,...,...,...,...,...,...,...,...,...,...,...,...
242,2900,ford,cargo,2011,clean vehicle,190994,white,1ftne2ew6bda76057,167758509,florida,usa,2 hours left
517,2900,nissan,doors,2017,clean vehicle,31954,gray,3n1ab7ap6hy249992,167668549,new jersey,usa,17 hours left
1884,2900,ford,door,2015,clean vehicle,57340,silver,3fadp4aj6fm132638,167736495,florida,usa,2 days left
375,2925,bmw,door,2013,salvage insurance,46060,white,5uxwx9c57d0a24286,167651122,florida,usa,2 days left
328,2960,chrysler,van,2008,clean vehicle,164048,red,2a8hr54px8r787529,167660587,florida,usa,23 hours left

In [ ]:
import pandas as pd

In [ ]:
DF = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
DF.shape

(2499, 12)

In [ ]:
print(df[0 : 1])

   price   brand    model  year   title_status  mileage  color  \
0   6300  toyota  cruiser  2008  clean vehicle   274117  black

                   vin        lot       state country     condition
0    jtezu11f88k007763  159348797  new jersey     usa  10 days left

In [ ]:
print(df.iloc[0 : 1])

   price   brand    model  year   title_status  mileage  color  \
0   6300  toyota  cruiser  2008  clean vehicle   274117  black

                   vin        lot       state country     condition
0    jtezu11f88k007763  159348797  new jersey     usa  10 days left

In [ ]:
DF.dtypes

price            int64
brand           object
model           object
year             int64
title_status    object
mileage          int64
color           object
vin             object
lot              int64
state           object
country         object
condition       object
dtype: object

In [ ]:
import pandas as pd
import numpy as np