<a href="https://colab.research.google.com/github/Jamshidbee/learning_data_sciense-/blob/main/pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape(3,3), columns=list('bcd'), index=['Olma','Anor','Uzum'])
df2 = pd.DataFrame(np.arange(12.).reshape(4,3), columns=list('abc'), index=['Olma','Anor','Qovun','Anjir'])

In [ ]:
df1
df2

         a     b     c
Olma   0.0   1.0   2.0
Anor   3.0   4.0   5.0
Qovun  6.0   7.0   8.0
Anjir  9.0  10.0  11.0

In [ ]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [ ]:
df1+df2

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

In [ ]:
df1.add(df2, fill_value=0)

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   7.0   9.0  5.0
Olma   0.0   1.0   3.0  2.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN   6.0   7.0  8.0

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
index = ['matematika', "ingliz tili", "fizika"]
data = {
    "I chorak":[4,5,4],
    "II chorak":[4,4,4],
    'III chorak':[5,5,3]
}
df = pd.DataFrame(data, index=index)

In [ ]:
df

             I chorak  II chorak  III chorak
matematika          4          4           5
ingliz tili         5          4           5
fizika              4          4           3

In [ ]:
df.

matematika     4
ingliz tili    5
fizika         4
Name: I chorak, dtype: int64